<?xml version="1.0" encoding="UTF-8"?>

<?define ProductName="Dokan Library" ?>
<?define ProductCodeX64="{65A3A964-3DC3-0101-0000-171128090627}" ?>
<?define UpgradeCodeX64="{2EF80C64-08A6-4FE1-BE92-13FD293C831B}" ?>
<?define ProductCodeX86="{65A3A986-3DC3-0101-0000-171128090627}" ?>
<?define UpgradeCodeX86="{2EF80C86-08A6-4FE1-BE92-13FD293C831B}" ?>
<?define ProviderKey="{5F030BFA-CE6E-408A-9694-F593B319DBBE}" ?>
<?define BundleUpgradeCode="{A30D29CD-FA58-4542-8D41-7EDD1FB1EE5A}" ?>
<?define BaseVersion="1.1.0" ?>
<?define MajorVersion="1" ?>
<?define BuildVersion="1000" ?>
<?define CompanyName="Dokany Project" ?>
<?define ShortCompanyName="Dokany Project" ?>
<?define UpdateURL="https://dokan-dev.github.io/" ?>
<?define InstallerVersion="500" ?>
<?define Compressed="yes" ?>
<?define BuildCygwin="true" ?>
<?define VCRedistVersion="14.11.25325" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:dep='http://schemas.microsoft.com/wix/DependencyExtension'
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension' >

  <Bundle Name="FiSSH and Dokan" Version="1.0.0.0"
          Manufacturer="github.com/techno-express/win-sshfs"
          UpgradeCode="db6c6262-47aa-4ca1-8d98-0c2525ad5074" Compressed="yes">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="Resources\licdata2.rtf"
        ThemeFile="Resources\RtfTheme.xml"
        LocalizationFile="Resources\1033\RtfTheme.wxl"/>
      <Payload Name="Resources\1033\RtfTheme.wxl" SourceFile="Resources\1033\RtfTheme.wxl" />
    </BootstrapperApplicationRef>

    <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles6432Folder]Dokan\Dokan Library-$(var.BaseVersion)"/>
    <Variable Name="CommandLineArgument" bal:Overridable="yes"/>
    <Variable Name="DevFilesCheckbox" Type="numeric" Value="1"/>

    <util:FileSearch Id="SearchSystem"
                     Path="[SystemFolder]advapi32.dll"
                     Variable="ADVAPIVERSION"
                     Result="version"
                     />

    <util:FileSearch Id="SearchSystem2"
                     Path="[SystemFolder]ucrtbase.dll"
                     Variable="UCRTVERSION"
                     Result="version"
                     />

    <util:FileSearch Id="SearchSystem3"
                     Path="[WindowsFolder]System32\ucrtbase.dll"
                     Variable="UCRTVERSION64"
                     Result="version"
                       />

    <util:RegistrySearch Id="vcredist_2017_x86_check" Root="HKLM"
                         Key="SOFTWARE\Microsoft\DevDiv\VC\Servicing\14.0\RuntimeMinimum"
                          Value="Install" Variable="vcredist_2017_x86_installed" Win64="no"/>
    <util:RegistrySearch Id="vcredist_2017_x86_versioncheck" Root="HKLM"
                         Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_x86,v14"
                          Value="Version" Variable="vcredist_2017_x86_version" Result="exists" Win64="no"/>
    <util:RegistrySearch Id="vcredist_2017_x86_versionnumbercheck" Root="HKLM"
                         Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_x86,v14"
                          Value="Version" Variable="vcredist_2017_x86_versionnumber" Result="value" Win64="no"/>

    <util:RegistrySearch Id="vcredist_2017_x64_check" Root="HKLM"
                         Key="SOFTWARE\Microsoft\DevDiv\VC\Servicing\14.0\RuntimeMinimum" Value="Install"
                          Variable="vcredist_2017_x64_installed" Win64="yes"/>
    <util:RegistrySearch Id="vcredist_2017_x64_versioncheck" Root="HKLM"
                         Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_amd64,v14"
                          Value="Version" Variable="vcredist_2017_x64_version" Result="exists" Win64="yes"/>
    <util:RegistrySearch Id="vcredist_2017_x64_versionnumbercheck" Root="HKLM"
                         Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_amd64,v14"
                          Value="Version" Variable="vcredist_2017_x64_versionnumber" Result="value" Win64="yes"/>

    <bal:Condition Message="Installation failed because your version of Windows is not supported. Dokan requires Windows 7 SP1 or newer.">
      <![CDATA[Installed OR VersionNT > v6.1 OR (VersionNT = v6.1 AND ServicePackLevel >= 1)]]>
    </bal:Condition>

    <Chain>
      <ExePackage Id="vcredist_2017_x86.exe"
              Name="vc_redist.x86.exe"
              InstallCommand="/norestart /q"
              RepairCommand="/norestart /q"
              UninstallCommand="/norestart /q"
              Protocol="netfx4"
              Compressed="no"
              Permanent="yes"
              InstallCondition="NOT VersionNT64"
              DetectCondition="vcredist_2017_x86_installed AND vcredist_2017_x86_version AND vcredist_2017_x86_versionnumber &gt;= v$(var.VCRedistVersion)"
              PerMachine="yes"
              Vital="yes"
              Cache="yes"
              SuppressSignatureVerification="yes"
              SourceFile="..\packages\vc_redist.x86.exe"
              DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/11100229/78c1e864d806e36f6035d80a0e80399e/VC_redist.x86.exe" />

      <ExePackage Id="vcredist_2017_x64.exe"
              Name="vc_redist.x64.exe"
              InstallCommand="/norestart /q"
              RepairCommand="/norestart /q"
              UninstallCommand="/norestart /q"
              Protocol="netfx4"
              Compressed="no"
              Permanent="yes"
              InstallCondition="VersionNT64"
              DetectCondition="vcredist_2017_x64_installed AND vcredist_2017_x64_version AND vcredist_2017_x64_versionnumber &gt;= v$(var.VCRedistVersion)"
              PerMachine="yes"
              Vital="yes"
              Cache="yes"
              SuppressSignatureVerification="yes"
              SourceFile="..\packages\vc_redist.x64.exe"
              DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/11100230/15ccb3f02745c7b206ad10373cbca89b/VC_redist.x64.exe" />

      <MsiPackage SourceFile="..\packages\Dokan_x86.msi"
              InstallCondition="NOT VersionNT64"
              Visible="no"
                  >
        <!--<MsiProperty Name="ADDLOCAL" Value="ALL" />-->
        <MsiProperty Name="MSIUNINSTALLSUPERSEDEDCOMPONENTS" Value="1"/>
        <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
        <MsiProperty Name="INSTALLDEVFILES" Value="[DevFilesCheckbox]" />
      </MsiPackage>

      <MsiPackage SourceFile="..\packages\Dokan_x64.msi"
              InstallCondition="VersionNT64"
              Visible="no"
                  >
        <!--<MsiProperty Name="ADDLOCAL" Value="ALL" />-->
        <MsiProperty Name="MSIUNINSTALLSUPERSEDEDCOMPONENTS" Value="1"/>
        <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
        <MsiProperty Name="INSTALLDEVFILES" Value="[DevFilesCheckbox]" />
      </MsiPackage>
      
          <MsiPackage SourceFile="..\SetupWinSshFS\bin\Release\SetupFiSSH.msi" />
		</Chain>
	</Bundle>
</Wix>
